#!/usr/bin/make -f
# -*- makefile -*-
# Simple debian/rules that uses debhelper.
# Created by Bernd Paysan, in the public domain

D = $(CURDIR)/debian/libsoil2

%:
	dh $@

override_dh_auto_test:
override_dh_shlibdeps:
override_dh_auto_install:
	echo "Auto Install"
	mkdir -p $(D)/usr/lib/$(DEB_HOST_MULTIARCH)
	mkdir -p $(D)/usr/include
	dh_auto_install -- DESTDIR=$(D)
